<VirtualHost *:80>
    ServerAdmin                           {{ item['admin_email'] }}
    ServerName                            {{ item['host'] }}
{% for alias in item['aliases']|default([]) %}
    ServerAlias                           {{ alias }}
{% endfor %}

    DocumentRoot                 {{ vhost_base_path }}/{{ item['host'] }}/
    ErrorLog                     {{ vhost_base_path }}/{{ item['host'] }}/logs/error.log
    CustomLog                    {{ vhost_base_path }}/{{ item['host'] }}/logs/access.log combined
    php_admin_value error_log    {{ vhost_base_path }}/{{ item['host'] }}/logs/php.error.log
</VirtualHost>
